Host *
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile ~/.ssh/id_rsa
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes
    Compression yes
    ControlMaster auto
    ControlPath /Users/pmital/.ssh/connection_pool/%h_%p_%r
